* {
    margin: 0;
    padding: 0;
}
.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-left: 15px;
    display: flex;
}
.leftnav {
    margin-right: 800px;
}
.leftnav ul{
    list-style-type: none;
    display: flex;
}
.leftnavitems{
    margin: 1px 0px 0px;
    padding: 16px 8px 10px;
}
.leftnavitems img{
    margin: -3px 0px 0px;
    
}
.rightnav {
    margin: 1px 0px 0px;
    padding: 16px 8px 10px;
}
.rightnav ul{
    list-style-type: none;
    display: flex;
}
